
<nav class="navbar">
  <div class="container-fluid px-5">
    <a class="navbar-brand fw-bold" href="/"><i class="bi bi-list-task">Tasks Manager App</i></a>
    <div class="d-flex">
      <a class="btn" id="add-new-task-link" href="/addTask">Add new task</a>
    </div>
  </div>
</nav>
   <div class="container home-container mt-5 mb-5">
        <h2 class="mb-5 fw-bold text-center"> Tasks list</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4" id="Tasks">
              {{#each results}}
              <div class="col">
                <div class="card home-card h-100 bg-light bg-opacity-10 border border-info shadow-lg">
                    <div class="card-body home-card-body">
                    <h5 class="card-title fw-bold"> Title: </h5>
                    <p>{{Title}}</p>
                        <h5 class="card-text fw-bold"> Created by:</h5> 
                        <p>{{CreatedBy}}</p>
                    <h5 class="card-text fw-bold"> Description:</h5>
                    <p>{{Description }}</p>
                    <h5 class="card-text fw-bold"> Date:</h5>
                    <p>{{TaskDate}}</p>
                    <h5 class="card-text fw-bold"> Importance label:</h5> 
                    <p>{{Label}}</p>
                    <hr>
                <div class="cards-buttons d-flex justify-content-around">
                    <a class="btn btn-outline-success btn-lg edit-task-link" href="/editTask/{{_id}}"><i class="bi bi-pencil-fill"></i></a>
                    <form action="/deleteTask/{{_id}}?_method=DELETE" method="POST" class="mx-2">
                    <input type="hidden" value="DELETE" name="_method">
                    <button class="btn btn-outline-danger btn-lg delete-task-link" type="submit"><i class="bi bi-trash-fill"></i></button>
                </form>
                </div>
                  </div>
                </div>
              </div>
               {{/each}}
      </div> 
      </div>  